* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar image and name styling */
nav {
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

nav .logoAndName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

nav .logoAndName img {
    width: 64px;
}

nav .logoAndName li {
    list-style-type: none;
}




/* list items styling */
nav .navMenu {
    padding-right: 40px;
}

nav .navMenu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

}

nav .navMenu ul li {
    list-style-type: none;


}

.navMenu a {
    color: white;
    text-decoration: none;
}

.navMenu a:hover {
    color: cyan;
    opacity: 0.7;
    text-decoration: underline;

}


body {
    width: 100%;
   
    

}

/*main section */
main h1 {
    text-decoration: underline;
    padding: 20px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
    background-image: url('images /city.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    color:black;
       
    
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgb(118, 118, 250);
    opacity: 0.4;
    z-index: 0;
}

h1 {
    font-size: 48px;
    position: relative;
    z-index: 2;
    
}

.card{
    display: flex;
    flex-direction:column;
    gap: 10px;
    width: 50%;
    align-items: center;
    position: relative;
    z-index: 2;
    

    
    
    
}


.card h2 {
    font-size: 36px;
    padding: 20px;
}



.card {
    border: solid black 3px;
    padding: 20px;
}



label{
    font-size: 24px;
    

}

input{
    height: 36px;
    width: 200px;
}

label #message {
    padding-top: 20px;
    padding-bottom: 20px;
}

form button{
    margin-left: 30%;
    font-size: 24px;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    box-shadow: 5%;
    
}

footer {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;

    align-self: last baseline;
    padding-left: 0;
    justify-content: center;
    position: relative;
    z-index: 1;
}

footer p {
    color: white;

}