*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
/* nav bar image and name styling */
nav{
    width: 100%;
   background-color: black; 
   display: flex;
   color: white;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 1;
}

nav .logoAndName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

nav .logoAndName img{
    width: 64px;
}

nav .logoAndName li{
   list-style-type: none;
}



/* list items styling */
nav .navMenu{
    padding-right: 40px;
}

nav .navMenu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    
}

nav .navMenu ul li{
    list-style-type: none;
    
   
}

 .navMenu  a{
    color: white;
    text-decoration: none;
}
.navMenu a:hover {
    color: cyan;
    opacity: 0.7;
    text-decoration: underline;

}


/*main section */
main{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    width: 100%;
   padding-top: 50px;
   padding-bottom: 300px;
background-image: url('images /city.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    color: black;

}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(118, 118, 250);
    opacity: 0.4;
    z-index: 0;
}

.top{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    width: 80%;
    gap: 25%;
    align-self: center;
}



.skills{
    z-index: 1;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border: solid black 3px;
    margin: 0 20px;
    width: 80%;
    align-self: center;
}

.skills h2{
    text-align: center;
    padding-bottom: 20px;
}

.skills-icons{
    display: flex;
    padding: 0 150px;
    justify-content: center;
}
.skills img{
    width: 70px;
}

.overlay-desc{
    background-color: white;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;

}
.description{
    width: 50%;
    padding: 20px;
    border: solid 3px;
    position: relative;
    z-index: 2;
    font-weight: 700;
   
}

.description h1{
    text-decoration: underline;
    padding-bottom: 20px;
}

.description a{
    color: rgb(194, 95, 247);
}

.coverImg{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    
}

.coverImg img{
    height: 400px;
    width: 450px;
    border:solid 3px;
    border-radius: 50%;
    margin: 0;
    
    
    
}

#cookie-game{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 10%;
    z-index: 1;
    opacity:1 ;
    position: relative;
    border: solid black 3px;
    width: 80%;
    align-self: center;
}

#cookie-overlay{
    background-color: white;
    position: absolute;
    inset: 0;
     z-index: -1;
    opacity: 0.5;
    
}

#cookie-game h2{
    text-align: center;
    padding-bottom: 20px;
}

#cookie-game button{
    background: none;
    border: none;
    padding: 0;
    
}

button:hover{
transform: scale(1.1);
}
#prediction{
    background-color: white;
    width: 60%;
    height: 50px;
    align-self: center;
    border: solid black;
    padding: 10px;
}
footer{
    background-color: black;
    height: 80px;
    width: 100%;
    padding-bottom: 100px;
display: flex;
 align-self: last baseline;
padding-left: 0;
justify-content: center;
position: relative;
    z-index: 1;
}

footer p{
    color: white;
   
}



/* media queries */

@media only screen and (max-width:768px) {

    
   
    /*nav bar */
   
    .logoAndName li{
    display: none;
   }

   nav .navMenu{
    padding-right: 10px;
   }

   nav .navMenu ul{
    gap: 15px;
   }

   main{
    display: flex;
    flex-direction: column;
   }

   .top {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    justify-items: center;
    align-items: center;
   }

   .description{
    width: 90%;
    margin-right: 20px;
   }

   .coverImg{
    justify-content: center;
   }

   .coverImg img{
    width: 300px;
    height: 250px;
   }

   footer{
    height: 64px;
    
   }



}