*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar image and name styling */
nav{
    width: 100%;
   background-color: black; 
   display: flex;
   color: white;
   justify-content: space-between;
   align-items: center;
}

nav .logoAndName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

nav .logoAndName img{
    width: 64px;
}

nav .logoAndName li{
   list-style-type: none;
}



/* list items styling */
nav .navMenu{
    padding-right: 40px;
}

nav .navMenu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    
}

nav .navMenu ul li{
    list-style-type: none;
    
   
}

 .navMenu  a{
    color: white;
    text-decoration: none;
}
.navMenu a:hover {
    color: cyan;
    opacity: 0.7;
    text-decoration: underline;

}


/*main section */
main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   padding-top: 50px;
    

}

.description{
    width: 40%;
    padding: 20px;
    border: solid 3px;
    margin-left: 25px;
   
}

.description h1{
    text-decoration: underline;
    padding-bottom: 20px;
}

.coverImg{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    
}

.coverImg img{
    height: 280px;
    width: 400px;
    
    
}

footer{
    background-color: black;
    height: 100px;
    width: 100%;
   display: flex;
   margin-top: 400px;
   align-self: last baseline;
   padding-left: 0;
   justify-content: center;
}

footer p{
    color: white;
   
}